@charset "utf-8";

@font-face {
    font-family: 'iconfont';
    /* project id 2421229 */
    src: url('//at.alicdn.com/t/font_2421229_kixagp38qgi.eot');
    src: url('//at.alicdn.com/t/font_2421229_kixagp38qgi.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_2421229_kixagp38qgi.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_2421229_kixagp38qgi.woff') format('woff'),
        url('//at.alicdn.com/t/font_2421229_kixagp38qgi.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_2421229_kixagp38qgi.svg#iconfont') format('svg');
}

* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    box-sizing: border-box;

}

a {
    color: #666;
    text-decoration: none;
}

i {
    font-style: normal;
}

ul {
    list-style: none;
}

.widthBox {
    width: 1210px;
    margin: 0 auto;
}

@import url('./topNav.less');

.index-link {
    position: absolute;
    top: 5px;
    left: 160px;
    color: #999;
    line-height: 20px;
    cursor: pointer;

    i {
        color: #333;
    }
}

.index-link:hover {
    span {

        color: #f10215;
    }
}

.topNav {
    .iconfont {
        color: #666 !important;
    }

    .addressBox {
        margin-left: 130px;
    }

    .navLi a {
        color: #999 !important;
    }

    .navLi:hover {
        >a {
            color: #f10215 !important;
        }
    }
}

.search {
    // display: flex;
    // justify-content: space-between;
    height: 100px;

    .logo {
        display: flex;
        justify-content: space-between;
        width: 362px;
        height: 100px;
        padding: 20px 0;
        float: left;

        a {
            display: inline-block;
            width: 270px;
            height: 60px;
            background: url(../img/logo.png) no-repeat;
        }

        .menu-box {
            width: 190px;
            height: 70px;
            padding-left: 10px;

            .menu-list {
                width: 75px;
                height: 49px;
                padding-top: 22px;

                span {
                    display: flex;
                    justify-content: space-around;
                    align-items: baseline;
                    width: 80px;
                    height: 27px;
                    padding: 0 5px;
                    border: 1px solid #999;
                    color: #666;
                    padding-top: 2px;
                }
            }

        }
    }

    .search-box {
        float: left;
        width: 560px;
        height: 40px;
        margin-top: 25px;

        .text {
            float: left;
            width: 356px;
            height: 36px;
            padding: 4px;
            border: 2px solid #B61D1D;
            line-height: 24px;
            color: #666;
            font-size: 14px;

        }

        .btn {
            float: left;
            width: 52px;
            height: 36px;
            padding: 0 8px;
            cursor: pointer;
            color: #fff;
            border: 0;
        }

        .btn:first-of-type {
            background-color: #B61D1D;
        }

        .btn:last-child {
            background-color: #474e5c;
        }
    }

    .shop-cart {
        position: relative;
        width: 141px;
        height: 36px;
        line-height: 32px;
        text-align: center;
        margin-top: 25px;
        margin-right: 65px;
        background-color: #f9f9f9;
        border: 1px solid #DFDFDF;
        float: right;
        cursor: pointer;

        i {
            color: #f10215;
        }

        a {
            margin-left: 5px;
        }

        a:hover {
            color: #f10215;
        }

        span {
            display: inline-block;
            width: 16px;
            height: 14px;
            color: #fff;
            line-height: 14px;
            text-align: center;
            background-color: #C81623;
            border-radius: 7px 7px 7px 0;
            position: absolute;
            top: -5px;
            right: 25px;
        }
    }

    .hot {
        float: left;
        width: 518px;
        height: 20px;

        a {
            margin-right: 10px;
        }

        a:hover {
            color: #C81623;
        }

        a:first-child {
            color: #C81623;
        }
    }
}

.shop-logo {
    width: 100%;
    height: 110px;
    background: url('../img/pro09Logo.jpg') no-repeat;
    background-size: contain;
    cursor: pointer;
}

.shop-nav {
    width: 100%;
    height: 40px;
    background-color: #333;
    cursor: pointer;

    .list {
        width: 1100px;
        height: 40px;
        margin: 0 auto;

        li {
            float: left;
            height: 40px;
            padding: 0 15px;
            font-size: 16px;
            color: #fff;
            text-align: center;
            line-height: 40px;
        }

        li:hover {
            color: #999;
        }
    }
}

.category-box {
    width: 100%;
    height: 44px;
    background-color: #f2f2f2;

    .category {
        line-height: 44px;

        a:hover {
            color: #f10215;
        }

        span {
            margin: 0 5px;
        }
    }

    .shop-msg {
        float: right;

        span {
            color: #fff;
            padding: 0 2px;
            background-color: #e53e41;
        }

        .name {
            margin: 0 5px;
            color: #666;
        }

        .ser-ico {
            color: rgb(38, 158, 206);
            margin-right: 2px;
        }

        .ser {
            color: #666;
            margin-right: 5px;
        }

        .focus-ico {
            color: #f10215;
            margin-right: 2px;
        }

    }
}

.product-intro {
    width: 1210px;
    margin: 10px auto;

    .product-view {
        float: left;

        .center {
            // width: 1210px;
            margin: 0 auto;

            .product-left {
                width: 452px;
                float: left;
                padding-bottom: 15px;
                position: relative;

                .box {
                    float: left;

                    .smallbox {
                        width: 450px;
                        position: relative;
                        border: 1px solid #eee;
                        z-index: 10;
                        margin-right: 10px;
                        overflow: hidden;

                        img {
                            width: 450px;
                            height: 450px;
                            vertical-align: middle;

                        }

                        .i_box {
                            width: 300px;
                            height: 300px;
                            border: 1px solid #CCC;
                            position: absolute;
                            left: 0;
                            top: 0;
                            background: rgba(243, 210, 76, 0.5);
                            cursor: move;
                            display: none;
                        }

                        .search {
                            width: 30px;
                            height: 30px;
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            background: url("../img/search.png")no-repeat;
                        }

                    }

                    .bigbox {
                        width: 540px;
                        height: 540px;
                        overflow: hidden;
                        position: absolute;
                        left: 452px;
                        top: 0;
                        border: 1px solid #eee;
                        background-color: #fff;
                        z-index: 100;
                        display: none;

                        img {
                            transform: scale(1.5);
                        }
                    }
                }

                .listimg {
                    width: 450px;
                    float: left;
                    margin: 20px 0px;
                    position: relative;

                    .list_center {
                        width: 380px;
                        height: 58px;
                        margin: 0px auto;
                        position: relative;
                        overflow: hidden;

                        ul {
                            height: 58px;
                            transition: all .2s;

                            li {
                                height: 58px;
                                width: 58px;
                                margin: 0 9px;
                                float: left;

                                img {
                                    width: 54px;
                                    height: 54px;
                                    border: 2px solid #FFFFFF;
                                }

                                img:hover {
                                    border: 2px solid #e53e41;
                                }
                            }
                        }
                    }

                    i {
                        width: 22px;
                        height: 32px;
                    }

                    .sprite-arrow-prev {
                        background: url("../img/disabled-prev.png");
                        position: absolute;
                        left: 0;
                        top: 11px;
                    }

                    .sprite-arrow-next {
                        background: url("../img/disabled-next.png");
                        position: absolute;
                        right: 0;
                        top: 11px;
                    }
                }
            }
        }
    }

    .item-intro {
        width: 738px;
        float: right;

        .sku-name {
            line-height: 28px;
            padding-top: 10px;
            margin-bottom: 5px;
            font-size: 16px;
            color: #666;
            font-weight: bold;
        }

        .item {
            width: 738px;
            margin-bottom: 5px;
            white-space: nowrap;
            overflow: hidden;
            color: #f10215;

            a {
                text-decoration: underline;
                color: #2a6496;
            }
        }


        .summary-box {
            background-color: #f3f3f3;
            position: relative;

            .title {
                display: inline-block;
                width: 58px;
                padding-left: 10px;
                line-height: 22px;
                color: #999;
                margin-bottom: 5px;
                vertical-align: top;
                // letter-spacing: 1px;
            }

            .summary {
                width: 738px;
                padding-top: 10px;
                margin-bottom: 15px;


                .summary-price {
                    line-height: 30px;

                    .price {
                        margin-left: 5px;
                        color: #f10215;
                        font-size: 24px;
                        line-height: 8px;

                        i {
                            font-size: 16px;
                            font-weight: bold;
                        }

                        span {
                            font-size: 24px;
                        }

                    }

                    a {
                        margin-left: 10px;
                        color: #005aa0
                    }
                }

            }

            .summary-promotion {
                height: 40px;
                color: #f10215;

                .msg {
                    margin-left: 5px;
                    vertical-align: top;
                    border: 1px solid #f10215;
                    padding: 2px 5px;
                    color: #f10215;
                }

                img {
                    position: relative;
                    top: -3px;
                    width: 25px;
                    height: 25px;
                    margin-left: 5px;
                }

                em {
                    vertical-align: top;
                }
            }

            .comment-num {
                position: absolute;
                top: 10px;
                right: 20px;

                p {
                    color: #999;
                }

                a {
                    font-size: 14px;
                    color: #005ea7;
                }
            }

            .comment-num::after {
                content: "";
                width: 1px;
                height: 25px;
                background-color: #ddd;
                position: absolute;
                top: 5px;
                left: -10px;
            }
        }


        .choose {
            width: 738px;
            margin-top: 10px;

            .dt {
                width: 58px;
                padding-left: 10px;
                float: left;
                color: #999;
                text-align: justify;
                text-align-last: justify;
                margin-right: 10px;
            }

            i {
                color: #ddd;
                margin: 0 5px;
            }

            .support {
                height: 32px;
                line-height: 23px;
                margin-bottom: 3px;


                .dd {
                    float: left;

                    i {
                        color: #5e69ad;
                        font-size: 18px;
                        position: relative;
                        top: 2px;
                        left: 2px;
                    }

                    span {
                        border: 1px solid #ced2e6;
                        border-radius: 8px;
                        color: #5e69ad;
                        margin-left: -18px;
                        padding: 0 5px 0 18px;
                        line-height: 16px;
                    }
                }
            }

            .address {
                line-height: 23px;
                height: 26px;


                .dd {
                    float: left;

                    .detail-address {
                        height: 23px;
                        display: inline-block;
                        line-height: 18px;
                        border: 1px solid #999;
                        padding: 0 5px;
                        color: #666;

                        i {
                            color: #999;
                            margin-left: 5px;
                            cursor: pointer;
                        }


                    }

                    span {
                        margin-left: 5px;
                        color: #666;
                    }
                }
            }

            .delivery {
                height: 32px;
                padding-top: 15px;
                padding-left: 68px;
                position: relative;

                .jd-logistics {
                    background: url(../img/jd-logistics.png) no-repeat;
                    width: 86px;
                    height: 16px;
                    background-size: contain;
                    vertical-align: middle;
                    position: relative;
                    top: 3px;
                    float: left;
                }

                .logistics-way {
                    line-height: 20px;
                    padding: 0 5px;
                    margin: 0 5px;
                    position: absolute;
                    top: 15px;
                    left: 155px;
                    background-color: #fff;

                    a,
                    span {
                        color: #646fb0;
                    }

                    i {
                        margin: 0 5px;
                    }

                    div:last-child {
                        display: none;
                    }
                }

                .logistics-way:hover {
                    border: 1px solid #999;

                    div:last-child {
                        display: block;
                    }

                    span {
                        display: inline-block;
                        transform: rotate(180deg);
                    }
                }
            }

            .supply {
                height: 32px;
                padding-top: 15px;
                padding-left: 68px;
                color: #999;

                span {
                    color: #f10215;
                }
            }

            .weight {
                margin-top: 15px;

                .dd {
                    color: #666;
                }
            }

            .selfAssuredPurchase {
                margin-top: 10px;
                height: 20px;

                .dd {
                    float: left;

                    .icon {
                        display: inline-block;
                        position: relative;
                        top: 2px;
                        width: 84px;
                        height: 16px;
                        background: url(../img/sprite.png) no-repeat 0px -16px;
                    }

                    .services {
                        display: inline-block;
                        margin-left: 5px;

                        a {
                            color: #646fb0;
                        }


                    }
                }
            }

            .promises {
                width: 738px;
                margin-left: 70px;
                margin-top: 10px;

                a:hover {
                    color: #f10215;
                }
            }

            .line {
                width: 738px;
                height: 1px;
                background-color: #eee;
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }

    }

}