@charset "utf-8";

@font-face {
    font-family: 'iconfont';
    /* project id 2421229 */
    src: url('//at.alicdn.com/t/font_2421229_bp76gdbzrt.eot');
    src: url('//at.alicdn.com/t/font_2421229_bp76gdbzrt.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_2421229_bp76gdbzrt.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_2421229_bp76gdbzrt.woff') format('woff'),
        url('//at.alicdn.com/t/font_2421229_bp76gdbzrt.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_2421229_bp76gdbzrt.svg#iconfont') format('svg');
}

* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    box-sizing: border-box;

}

a {
    color: #666;
    text-decoration: none;
}

i {
    font-style: normal;
}

ul {
    list-style: none;
}

.widthBox {
    width: 1210px;
    margin: 0 auto;
}

@import url('./topNav.less');

.index-link {
    position: absolute;
    top: 5px;
    left: 160px;
    color: #999;
    line-height: 20px;
    cursor: pointer;

    i {
        color: #333;
    }
}

.index-link:hover {
    span {

        color: #f10215;
    }
}

.topNav {
    .iconfont {
        color: #666 !important;
    }

    .addressBox {
        margin-left: 130px;
    }

    .navLi a {
        color: #999 !important;
    }

    .navLi:hover {
        >a {
            color: #f10215 !important;
        }
    }
}

.search {
    // display: flex;
    // justify-content: space-between;
    height: 100px;

    .logo {
        display: flex;
        justify-content: space-between;
        width: 362px;
        height: 100px;
        padding: 20px 0;
        float: left;

        a {
            display: inline-block;
            width: 270px;
            height: 60px;
            background: url(../img/logo.png) no-repeat;
        }

        .menu-box {
            width: 190px;
            height: 70px;
            padding-left: 10px;

            .menu-list {
                width: 75px;
                height: 49px;
                padding-top: 22px;

                span {
                    display: flex;
                    justify-content: space-around;
                    align-items: baseline;
                    width: 80px;
                    height: 27px;
                    padding: 0 5px;
                    border: 1px solid #999;
                    color: #666;
                    padding-top: 2px;
                }
            }

        }
    }

    .search-box {
        float: left;
        width: 560px;
        height: 40px;
        margin-top: 25px;

        .text {
            float: left;
            width: 356px;
            height: 36px;
            padding: 4px;
            border: 2px solid #B61D1D;
            line-height: 24px;
            color: #666;
            font-size: 14px;

        }

        .btn {
            float: left;
            width: 52px;
            height: 36px;
            padding: 0 8px;
            cursor: pointer;
            color: #fff;
            border: 0;
        }

        .btn:first-of-type {
            background-color: #B61D1D;
        }

        .btn:last-child {
            background-color: #474e5c;
        }
    }

    .shop-cart {
        position: relative;
        width: 141px;
        height: 36px;
        line-height: 32px;
        text-align: center;
        margin-top: 25px;
        margin-right: 65px;
        background-color: #f9f9f9;
        border: 1px solid #DFDFDF;
        float: right;
        cursor: pointer;

        i {
            color: #f10215;
        }

        a {
            margin-left: 5px;
        }

        a:hover {
            color: #f10215;
        }

        span {
            display: inline-block;
            width: 16px;
            height: 14px;
            color: #fff;
            line-height: 14px;
            text-align: center;
            background-color: #C81623;
            border-radius: 7px 7px 7px 0;
            position: absolute;
            top: -5px;
            right: 25px;
        }
    }

    .hot {
        float: left;
        width: 518px;
        height: 20px;

        a {
            margin-right: 10px;
        }

        a:hover {
            color: #C81623;
        }

        a:first-child {
            color: #C81623;
        }
    }
}

.shop-logo {
    width: 100%;
    height: 110px;
    background: url('../img/pro09Logo.jpg') no-repeat;
    background-size: contain;
    cursor: pointer;
}

.shop-nav {
    width: 100%;
    height: 40px;
    background-color: #333;
    cursor: pointer;

    .list {
        width: 1100px;
        height: 40px;
        margin: 0 auto;

        li {
            float: left;
            height: 40px;
            padding: 0 15px;
            font-size: 16px;
            color: #fff;
            text-align: center;
            line-height: 40px;
        }

        li:hover {
            color: #999;
        }
    }
}

.category-box {
    width: 100%;
    height: 44px;
    background-color: #f2f2f2;

    .category {
        line-height: 44px;

        a:hover {
            color: #f10215;
        }

        span {
            margin: 0 5px;
        }
    }

    .shop-msg {
        float: right;

        span {
            color: #fff;
            padding: 0 2px;
            background-color: #e53e41;
        }

        .name {
            margin: 0 5px;
            color: #666;
        }

        .ser-ico {
            color: rgb(38, 158, 206);
            margin-right: 2px;
        }

        .ser {
            color: #666;
            margin-right: 5px;
        }

        .focus-ico {
            color: #f10215;
            margin-right: 2px;
        }

    }
}

.product-intro {
    width: 1210px;
    margin: 10px auto;

    .product-view {
        float: left;

        .center {
            // width: 1210px;
            margin: 0 auto;

            .product-left {
                width: 452px;
                float: left;
                padding-bottom: 15px;
                position: relative;

                .box {
                    float: left;

                    .smallbox {
                        width: 450px;
                        position: relative;
                        border: 1px solid #eee;
                        z-index: 10;
                        margin-right: 10px;
                        overflow: hidden;

                        img {
                            width: 450px;
                            height: 450px;
                            vertical-align: middle;

                        }

                        .i_box {
                            width: 300px;
                            height: 300px;
                            border: 1px solid #CCC;
                            position: absolute;
                            left: 0;
                            top: 0;
                            background: rgba(243, 210, 76, 0.5);
                            cursor: move;
                            display: none;
                        }

                        .search {
                            width: 30px;
                            height: 30px;
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            background: url("../img/search.png")no-repeat;
                        }

                    }

                    .bigbox {
                        width: 540px;
                        height: 540px;
                        overflow: hidden;
                        position: absolute;
                        left: 452px;
                        top: 0;
                        border: 1px solid #eee;
                        background-color: #fff;
                        z-index: 100;
                        display: none;

                        img {
                            transform: scale(1.5);
                        }
                    }
                }

                .listimg {
                    width: 450px;
                    float: left;
                    margin: 20px 0px;
                    position: relative;

                    .list_center {
                        width: 380px;
                        height: 58px;
                        margin: 0px auto;
                        position: relative;
                        overflow: hidden;

                        ul {
                            height: 58px;
                            transition: all .2s;

                            li {
                                height: 58px;
                                width: 58px;
                                margin: 0 9px;
                                float: left;

                                img {
                                    width: 54px;
                                    height: 54px;
                                    border: 2px solid #FFFFFF;
                                }

                                img:hover {
                                    border: 2px solid #e53e41;
                                }
                            }
                        }
                    }

                    i {
                        width: 22px;
                        height: 32px;
                    }

                    .sprite-arrow-prev {
                        background: url("../img/disabled-prev.png");
                        position: absolute;
                        left: 0;
                        top: 11px;
                    }

                    .sprite-arrow-next {
                        background: url("../img/disabled-next.png");
                        position: absolute;
                        right: 0;
                        top: 11px;
                    }
                }
            }
        }
    }

    .item-intro {
        width: 738px;
        float: right;

        .sku-name {
            line-height: 28px;
            padding-top: 10px;
            margin-bottom: 5px;
            font-size: 16px;
            color: #666;
            font-weight: bold;
        }

        >.item {
            width: 738px;
            margin-bottom: 5px;
            white-space: nowrap;
            overflow: hidden;
            color: #f10215;

            a {
                text-decoration: underline;
                color: #2a6496;
            }
        }


        .summary-box {
            background-color: #f3f3f3;
            position: relative;

            .title {
                display: inline-block;
                width: 58px;
                padding-left: 10px;
                line-height: 22px;
                color: #999;
                margin-bottom: 5px;
                vertical-align: top;
                // letter-spacing: 1px;
            }

            .summary {
                width: 738px;
                padding-top: 10px;
                margin-bottom: 15px;


                .summary-price {
                    line-height: 30px;

                    .price {
                        margin-left: 5px;
                        color: #f10215;
                        font-size: 24px;
                        line-height: 8px;

                        i {
                            font-size: 16px;
                            font-weight: bold;
                        }

                        span {
                            font-size: 24px;
                        }

                    }

                    a {
                        margin-left: 10px;
                        color: #005aa0
                    }
                }

            }

            .summary-promotion {
                height: 40px;
                color: #f10215;

                .msg {
                    margin-left: 5px;
                    vertical-align: top;
                    border: 1px solid #f10215;
                    padding: 2px 5px;
                    color: #f10215;
                }

                img {
                    position: relative;
                    top: -3px;
                    width: 25px;
                    height: 25px;
                    margin-left: 5px;
                }

                em {
                    vertical-align: top;
                }
            }

            .comment-num {
                position: absolute;
                top: 10px;
                right: 20px;

                p {
                    color: #999;
                }

                a {
                    font-size: 14px;
                    color: #005ea7;
                }
            }

            .comment-num::after {
                content: "";
                width: 1px;
                height: 25px;
                background-color: #ddd;
                position: absolute;
                top: 5px;
                left: -10px;
            }
        }


        .choose {
            width: 738px;
            margin-top: 10px;

            .dt {
                width: 58px;
                padding-left: 10px;
                float: left;
                color: #999;
                text-align: justify;
                text-align-last: justify;
                margin-right: 10px;
            }

            i {
                color: #ddd;
                margin: 0 5px;
            }

            .support {
                height: 32px;
                line-height: 23px;
                margin-bottom: 3px;


                .dd {
                    float: left;

                    i {
                        color: #5e69ad;
                        font-size: 18px;
                        position: relative;
                        top: 2px;
                        left: 2px;
                    }

                    span {
                        border: 1px solid #ced2e6;
                        border-radius: 8px;
                        color: #5e69ad;
                        margin-left: -18px;
                        padding: 0 5px 0 18px;
                        line-height: 16px;
                    }
                }
            }

            .address {
                line-height: 23px;
                height: 26px;


                .dd {
                    float: left;

                    .detail-address {
                        height: 23px;
                        display: inline-block;
                        line-height: 18px;
                        border: 1px solid #999;
                        padding: 0 5px;
                        color: #666;

                        i {
                            color: #999;
                            margin-left: 5px;
                            cursor: pointer;
                        }


                    }

                    span {
                        margin-left: 5px;
                        color: #666;
                    }
                }
            }

            .delivery {
                height: 32px;
                padding-top: 15px;
                padding-left: 68px;
                position: relative;

                .jd-logistics {
                    background: url(../img/jd-logistics.png) no-repeat;
                    width: 86px;
                    height: 16px;
                    background-size: contain;
                    vertical-align: middle;
                    position: relative;
                    top: 3px;
                    float: left;
                }

                .logistics-way {
                    line-height: 20px;
                    padding: 0 5px;
                    margin: 0 5px;
                    position: absolute;
                    top: 15px;
                    left: 155px;
                    background-color: #fff;

                    a,
                    span {
                        color: #646fb0;
                    }

                    i {
                        margin: 0 5px;
                    }

                    div:last-child {
                        display: none;
                    }
                }

                .logistics-way:hover {
                    border: 1px solid #999;

                    div:last-child {
                        display: block;
                    }

                    span {
                        display: inline-block;
                        transform: rotate(180deg);
                    }
                }
            }

            .supply {
                height: 32px;
                padding-top: 15px;
                padding-left: 68px;
                color: #999;

                span {
                    color: #f10215;
                }
            }

            .weight {
                margin-top: 15px;

                .dd {
                    color: #666;
                }
            }

            .selfAssuredPurchase {
                margin-top: 10px;
                height: 20px;

                .dd {
                    float: left;

                    .icon {
                        display: inline-block;
                        position: relative;
                        top: 2px;
                        width: 84px;
                        height: 16px;
                        background: url(../img/sprite.png) no-repeat 0px -16px;
                    }

                    .services {
                        display: inline-block;
                        margin-left: 5px;

                        a {
                            color: #646fb0;
                        }


                    }
                }
            }

            .promises {
                width: 738px;
                margin-left: 70px;
                margin-top: 10px;

                a:hover {
                    color: #f10215;
                }
            }

            .line1,
            .line2 {
                float: left;
                width: 738px;
                height: 1px;
                background-color: #eee;
                margin-top: 10px;
                margin-bottom: 20px;
            }

            .choose-color {
                .dd {
                    .item {
                        background-color: #f7f7f7;
                    }
                }
            }

            .choose-color,
            .choose-ver,
            .choose-buy-way,
            .choose-combo,
            .choose-guarantee,
            .choose-services {
                line-height: 40px;
                margin-bottom: 3px;
                float: left;

                .dd {
                    width: 600px;
                    margin-left: 70px;

                    img {
                        width: 40px;
                        height: 40px;
                        vertical-align: top;

                    }

                    .item {
                        float: left;
                        text-align: center;
                        color: #666;
                        background-color: #fff;
                        margin-right: 8px;
                        margin-bottom: 10px;
                        border: 1px solid #ccc;
                        cursor: pointer;

                        span {
                            line-height: 40px;
                            margin: 0 8px;
                        }

                    }

                    .item:hover {
                        border-color: #f10215;
                    }


                }
            }

            .choose-ver {
                line-height: 32px;

                .dd {

                    .item {
                        padding: 0 13px;
                        line-height: 32px;
                        text-align: center;

                    }

                }
            }

            .choose-buy-way,
            .choose-combo {
                line-height: 32px;

                .dd {
                    .item {
                        padding: 0 13px;
                        line-height: 32px;
                    }
                }
            }

            .choose-guarantee,
            .choose-services {
                line-height: 30px;

                .dd {

                    .item {
                        position: relative;
                        border: 0;

                        .box {
                            position: relative;
                            height: 30PX;
                            line-height: 30px;
                            border: 1px solid #ddd;
                            padding: 0 5px;
                            // z-index: 100;

                            i,
                            span {
                                line-height: 20px;
                                margin: 0;
                            }

                            i:first-child {
                                color: #5b6dd6;
                            }

                        }

                        .active {
                            border-color: #f10215;
                        }

                        .list {
                            display: none;
                            position: absolute;
                            top: 30px;
                            width: 220px;
                            border: 1px solid #ddd;
                            padding: 2px 10px;
                            z-index: 1;
                            background-color: #fff;
                        }
                    }


                    .item:hover {

                        .box {
                            height: 31PX;
                            border-bottom: 0;
                            border-color: #f10215;
                            z-index: 100;
                        }

                        .list {
                            display: block;
                        }
                    }

                    >.iconfont {
                        font-size: 20px;
                        color: #999;
                        cursor: pointer;
                    }
                }
            }

            .choose-services {
                margin-bottom: 0;

                .box {
                    // z-index: -2;

                    .list {
                        // z-index: -10;
                    }
                }
            }

            .line2 {
                margin-top: 0;
                margin-bottom: 10px;
            }

            .choose-btns {
                float: left;
                line-height: 40px;
                margin-bottom: 3px;
                padding-left: 5px;

                .choose-amount {
                    float: left;
                    position: relative;
                    margin-right: 10px;
                    border: 1px solid #ccc;

                    input {
                        width: 47px;
                        height: 44px;
                        padding: 1px 2px;
                        text-align: center;
                        line-height: 44px;
                        outline: none;
                        border: 0;
                    }

                    a {
                        width: 17px;
                        height: 24px;
                        line-height: 22px;
                        text-align: center;
                        background-color: #f1f1f1;
                        border: 1px solid #ccc;

                    }

                    a:first-of-type {
                        position: absolute;
                        right: -17px;
                        top: -1px;
                        border-bottom: 1px solid #ccc;
                    }

                    a:last-of-type {
                        position: absolute;
                        right: -17px;
                        bottom: -1px;
                    }
                }

                .btn {
                    float: left;
                    width: 142px;
                    height: 46px;
                    padding: 0 26px;
                    line-height: 46px;
                    color: #fff;
                    background-color: #e53e41;
                    text-align: center;
                    font-size: 18px;
                    font-weight: bold;
                    border: 0;
                    margin-left: 20px;
                    cursor: pointer;
                }

            }

            .hint {
                float: left;
                width: 738px;
                color: #999;
                margin: 20px 0;
                margin-left: 5px;
            }

            .dd {
                .active {
                    border-color: #f10215 !important;
                }
            }


        }


    }


}

.w {
    width: 1210px;
    margin: 0 auto;


    .fittings {
        float: left;
        width: 100%;
        margin-bottom: 20px;

        .item-list {
            background-color: #f7f7f7;
            border: 1px solid #eee;
            border-bottom: 1px solid #e53e41;
            overflow: hidden;

            li {
                float: left;
                font-size: 14px;
                padding: 10px 25px;
                color: #666;

                i {
                    margin-left: 5px;

                }
            }

            li:hover {
                color: #e53e41;
            }

            li:last-of-type:hover {
                i {
                    display: inline-block;
                    transform: rotate(180deg);
                    transition: transform .2s;
                    color: #666;
                }
            }

            li.active {
                background-color: #e53e41;
                color: #fff;
            }


        }

        .product-item {
            float: left;
            padding-top: 30px;
            padding-bottom: 10px;

            .main-product {
                float: left;
                width: 144px;
                height: 161px;
                padding: 0 5px;
                position: relative;

                img {
                    width: 100px;
                    height: 100px;
                }

                a {
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }

                i {
                    position: absolute;
                    top: 35px;
                    right: 10px;
                    font-size: 28px;
                    color: #ccc;
                }
            }

            .suits {
                float: left;
                width: 840px;
                height: 161px;
                position: relative;

                .btns {
                    .pre-btn {
                        width: 23px;
                        height: 73px;
                        position: absolute;
                        top: 15px;
                        left: 20px;
                        background: url(../img/page-btn.png) 0 -94px no-repeat;
                    }

                    .next-btn {
                        width: 23px;
                        height: 73px;
                        position: absolute;
                        top: 15px;
                        right: 20px;
                        background: url(../img/page-btn.png) 0 0px no-repeat;
                    }

                    .pre-btn:hover {
                        background-position: -46px -94px;
                    }

                    .next-btn:hover {
                        background-position: -46px 0;
                    }
                }

                .fit-product {
                    margin: 0 38px 0 60px;
                    overflow: hidden;

                    li {
                        float: left;
                        width: 144px;
                        height: 161px;
                        padding: 0 5px;
                        text-align: center;

                        img {
                            width: 100px;
                            height: 100px;
                            margin-bottom: 5px;
                        }

                        .title {
                            width: 134px;
                            height: 36px;
                            overflow: hidden;
                            color: #666;
                            text-align: left;
                            cursor: pointer;
                        }

                        .title:hover {
                            color: #f10215;
                        }

                        .price {
                            text-align: left;
                            padding-left: 10px;

                            strong {
                                margin-left: 5px;
                                line-height: 14px;
                                font-size: 14px;
                                color: #e53e41;
                            }
                        }
                    }
                }
            }

            .result {
                float: left;
                // width: 150px;
                height: 100px;
                padding: 15px 0 0 50px;
                position: relative;
                color: #666;

                i {
                    position: absolute;
                    top: 40px;
                    left: 0;
                    color: #ccc;
                    font-size: 20px;
                }

                .selected {
                    margin-bottom: 10px;
                }

                .p-price {
                    margin-bottom: 10px;

                    span {
                        font-size: 18px;
                        color: #e4393c;
                        font-weight: bold;
                    }
                }

                .btn {
                    width: 100px;
                    height: 28px;
                    line-height: 28px;
                    padding: 0 22px;
                    background-color: #df3033;
                    color: #fff;
                    margin-bottom: 10px;
                    cursor: pointer;
                }

                .buy-center {
                    width: 100px;
                    padding: 4px 10px;
                    border: 1px solid #ccc;
                    text-align: center;
                }

                .buy-center:hover {
                    color: #f10215;
                }
            }

        }
    }

    .details {
        float: left;

        .left-sidebar {
            float: left;
            width: 210px;
            margin-right: 10px;

            .popbox {
                height: 97px;
                margin-bottom: 10px;
                background-color: teal;

                .mt {
                    height: 40px;
                    background-color: #f7f7f7;
                    border: 1px solid #eee;
                    padding: 10px;
                    line-height: 18px;
                    cursor: pointer;

                    h3 {
                        float: left;
                        font-size: 14px;
                        font-weight: bold;
                        max-width: 150px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: #666;
                    }

                    i {
                        float: right;
                        margin-right: 20px;
                        color: rgb(134, 177, 233);
                        font-weight: bold;
                    }

                }

                .mc {
                    height: 57px;
                    background-color: #fff;
                    padding: 10px;
                    border: 1px solid #eee;
                    display: flex;
                    justify-content: space-between;

                    .enter-shop,
                    .follow-shop {
                        width: 90px;
                        height: 36px;
                        border: 1px solid #eee;
                        text-align: center;
                        line-height: 34px;
                        background-color: #f7f7f7;
                        cursor: pointer;
                        color: #666;

                        i {
                            color: #e53e41;
                        }
                    }

                    .enter-shop {
                        margin-right: 10px;
                    }

                    .enter-shop:hover,
                    .follow-shop:hover {
                        opacity: .9;
                    }

                }
            }

            .view-buy,
            .view-view {
                color: #666;
                overflow: hidden;
                margin-bottom: 50px;

                .mt {
                    padding: 10px;
                    border: 1px solid #eee;
                    background-color: #f7f7f7;

                    h3 {
                        font-size: 14px;
                        font-weight: bold;
                    }
                }

                .mc {
                    overflow: hidden;
                    padding: 10px;
                    border: 1px solid #eee;
                    border-top: 0;

                    .list {
                        overflow: hidden;

                        li {
                            padding: 5px 0;
                            width: 188px;
                            cursor: pointer;

                            img {
                                width: 180px;
                                height: 180px;
                                margin-bottom: 5px;
                            }

                            .name {
                                width: 188px;
                                margin-bottom: 5px;
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                            }

                            .name:hover {
                                color: #e4393c;
                            }

                            .price {
                                font-size: 14px;
                                color: #e4393c;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }

            .ad {
                overflow: hidden;
                width: 211px;
                height: 261px;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

        }

        .detail-main {
            float: right;
            width: 990px;
            height: 1000px;
            color: #666;
            line-height: 1.5em;

            .tab-nav {
                position: sticky;
                top: 0px;

                .list {
                    background-color: #f7f7f7;
                    overflow: hidden;
                    position: relative;
                    border: 1px solid #eee;
                    border-bottom: 1px solid #f10215;

                    li {
                        float: left;
                        padding: 10px 25px;
                        text-align: center;
                        font-size: 14px;
                        color: #666;
                        cursor: pointer;
                    }

                    .active {
                        background-color: #f10215;
                        color: #fff;
                    }

                    li:hover {
                        color: #f10215;
                    }


                    .join-cart {
                        width: 94px;
                        height: 28px;
                        line-height: 28px;
                        color: #fff;
                        text-align: center;
                        padding: 0 16px;
                        background-color: #df3033;
                        position: absolute;
                        top: 8px;
                        right: 10px;
                        cursor: pointer;
                    }
                }
            }

            .tab-con {
                overflow: hidden;
                // padding: 10px 0;
                padding: 0 10px 10px;


                .nav-item {
                    border-bottom: 1px solid #eee;

                    .parameter1,
                    .parameter2 {
                        padding: 20px 0 15px 0;
                        overflow: hidden;
                    }

                    .parameter-brand {
                        margin-bottom: 5px;
                        padding-left: 42px;

                        a {
                            color: #2a6496;
                        }
                    }

                    .parameter2 {
                        li {
                            width: 242px;
                            margin-bottom: 5px;
                            float: left;
                            padding-left: 42px;
                        }
                    }

                    .more {
                        overflow: hidden;
                        margin-bottom: 10px;

                        a {
                            color: #005aa0;
                            float: right;
                            margin-right: 20px;
                            cursor: pointer
                        }
                    }

                }

                .center {
                    width: 990px;
                    text-align: center;

                    img {
                        display: block;
                    }
                }
            }
        }

    }
}


// .jd-footer {
//     background-color: #005aa0
// }

@import url(./jd-footer.less);